{{define "pages/carts"}} {{template "layouts/base.start" .}} {{if not (len .carts)}}

<div class="text-center w-50 mc p-3 mrt-8 mrb-10 pb-5">
    <div class="fs-1">Your Cart is Empty</div>
    <a href="/products?page=1&order=name+asc" class="">Continue Shopping</a>
</div>

{{else}}

<div class="row row-cols-1 row-cols-sm-2 align-items-end mb-4">
    <div class="col">
        <h2 class="m-0">Your Cart</h2>
    </div>

    <div class="col">
        <a href="/products?page=1&order=name+asc" class="float-sm-end float-xs-start">Continue Shopping</a>
    </div>
</div>

<form id="delete-form" method="post" enctype="application/x-www-form-urlencoded"></form>

<form id="update-form" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="id" />
    <input type="hidden" name="quantity" />
</form>

<div class="row carts">
    <div class="col col-12 col-md-8">
        <table class="w-100 table cart-table">
            <thead>
                <tr>
                    <th colspan="2">Products</th>
                    <th>
                        <div class="row align-items-center d-md-flex d-none">
                            <div class="col col-md-6"></div>
                            <div class="col col-md-3">Price</div>
                            <div class="col col-md-3">Qty</div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $element := .carts}}
                <tr>
                    <td class="align-middle p-2" width="1">
                        <i data-delete="{{$element.Id}}" data-feather="trash" class="pointer"></i>
                    </td>
                    <td class="align-middle" style="width: 8rem; min-width: 100%">
                        <img class="w-100 zoom-img" src="{{$element.Product.Image1Url}}" alt="" />
                    </td>
                    <td class="align-middle">
                        <div class="row row-cols-1 align-items-center">
                            <div class="col col-md-6 fw-bold mt-3 mt-md-0">{{$element.Product.Name}}</div>
                            <div class="col col-md-3">IDR {{$element.Product.Price}}</div>
                            <div class="col col-md-3">
                                <div class="input-group mb-3 mb-md-0 mt-3 mt-md-0" data-id="{{$element.Id}}">
                                    <button data-subtract class="btn btn-outline-secondary" type="button">-</button>
                                    <input data-quantity type="text" class="form-control text-center" style="max-width: 5rem" value="{{$element.Quantity}}" />
                                    <button data-add class="btn btn-outline-secondary" type="button">+</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="col col-12 col-md-4">
        <div class="card mt-5 ms-md-5">
            <div class="card-body">
                <h5 class="card-title pt-3">Subtotal</h5>
                <p class="card-text fs-1">IDR 500.000</p>
                <a href="#" class="btn btn-primary w-100 btn-danger btn-lg fs-3 mb-3">Checkout</a>
            </div>
        </div>
        <p class="fs-5 mt-4 ms-md-5">Tax included. Shipping calculated at checkout.</p>
    </div>
</div>

{{end}} {{template "layouts/base.mid" .}}

<script>
    function deleteCart(id) {
        $("#delete-form").attr("action", "/carts/delete/" + id);
        $("#delete-form").submit();
    }
    function addCart(id) {
        $("#update-form").attr("action", "/carts/update/" + id);
        $("#update-form").submit();
    }

    $(function () {
        $("[data-subtract]").click(function () {
            dataQty = $(this).parent().find("[data-quantity]");
            qty = parseInt(dataQty.val());
            if (qty > 1) {
                qty--;
            }
            dataQty.val(qty);
        });
        $("[data-add]").click(function () {
            dataQty = $(this).parent().find("[data-quantity]");
            qty = parseInt(dataQty.val());
            qty++;
            dataQty.val(qty);
        });
        $("[data-delete]").click(function () {
            id = $(this).data("delete");
            tr = $(this).parent().parent();

            $.ajax({
                url: "/carts/" + id,
                type: "DELETE",
                success: function (result) {
                    tr.remove();
                    if (!$(".cart-table tbody tr").length) {
                        location.reload();
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr);
                    console.error(status);
                    console.error(error);
                },
            });
        });
    });
</script>

{{template "layouts/base.end" .}} {{end}}
