{{define "pages/carts"}} {{template "layouts/base.start" .}} {{if not (len .carts)}}

<div class="text-center w-50 mc p-3 mrt-8 mrb-10 pb-5">
    <div class="fs-1">Your Cart is Empty</div>
    <a href="/products?page=1&order=name+asc" class="">Continue Shopping</a>
</div>

{{else}}

<div class="row row-cols-1 row-cols-sm-2 align-items-end mb-4">
    <div class="col">
        <h2 class="m-0">Your Cart</h2>
    </div>

    <div class="col">
        <a href="/products?page=1&order=name+asc" class="float-sm-end float-xs-start">Continue Shopping</a>
    </div>
</div>

<div class="row carts">
    <div class="col col-12 col-md-8">
        <form id="form-cart">
            <input name="user_id" type="hidden" value="1" />
            <table class="w-100 table cart-table">
                <thead>
                    <tr>
                        <th colspan="2">Products</th>
                        <th>
                            <div class="row align-items-center d-md-flex d-none">
                                <div class="col col-md-6"></div>
                                <div class="col col-md-3">Price</div>
                                <div class="col col-md-3">Qty</div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $element := .carts}}
                    <tr>
                        <td class="align-middle p-2" width="1">
                            <i data-delete="{{$element.Id}}" data-feather="trash" class="pointer"></i>
                            <i data-feather="loader" class="pointer d-none rotate"></i>
                        </td>
                        <td class="align-middle" style="width: 8rem; min-width: 100%">
                            <img class="w-100 zoom-img" src="{{$element.Product.Image1Url}}" alt="" />
                        </td>
                        <td class="align-middle">
                            <div class="row row-cols-1 align-items-center">
                                <div class="col col-md-6 fw-bold mt-3 mt-md-0">{{$element.Product.Name}}</div>
                                <div class="col col-md-3">IDR {{$element.Product.Price}}</div>
                                <div class="col col-md-3">
                                    <div class="input-group mb-3 mb-md-0 mt-3 mt-md-0" data-id="{{$element.Id}}">
                                        <button data-subtract class="btn btn-outline-secondary fs-3" type="button">-</button>
                                        <input name="quantities[]" data-quantity type="text" class="form-control text-center fs-5" style="max-width: 5rem" value="{{$element.Quantity}}" />
                                        <input name="ids[]" type="hidden" value="{{$element.Id}}" />
                                        <button data-add class="btn btn-outline-secondary fs-3" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </form>
    </div>
    <div class="col col-12 col-md-4">
        <div class="card mt-5 ms-md-5">
            <div class="card-body">
                <h5 class="card-title pt-3">Subtotal</h5>
                <p class="card-text fs-1">IDR <span data-total>{{.summary.Total}}</span></p>
                <a href="#" class="btn btn-primary w-100 btn-danger btn-lg fs-3 mb-3">Checkout</a>
            </div>
        </div>
        <p class="fs-5 mt-4 ms-md-5">Tax included. Shipping calculated at checkout.</p>
    </div>
</div>

{{end}} {{template "layouts/base.mid" .}}

<script>
    var lock = 0;
    var timer = null;
    var delay = 500;

    function updateCart(qty, id) {
        if (!lock) {
            lock = 1;
            var formData = $("#form-cart").serialize();

            $.ajax({
                url: "/carts/" + id,
                type: "PUT",
                contentType: "application/x-www-form-urlencoded",
                data: formData,
                beforeSend: function (result) {},
                success: function (result) {
                    $("[data-total]").html(result.summary.total);
                },
                error: function (xhr, status, error) {
                    console.error(xhr, status, error);
                },
                complete: function (xhr, status) {
                    lock = 0;
                },
            })
        }
    }

    $(function () {
        $("[data-subtract]").click(function () {
            dataQty = $(this).siblings("[data-quantity]");
            qty = parseInt(dataQty.val());
            if (qty > 1) {
                dataQty.val(--qty).trigger("change");
            }
        });

        $("[data-add]").click(function () {
            dataQty = $(this).siblings("[data-quantity]");
            qty = parseInt(dataQty.val());
            dataQty.val(++qty).trigger("change");
        });

        $("[data-quantity]").on("change", function () {
            clearTimeout(timer);
            qty = $(this).val();
            id = $(this).parent().data("id");
            timer = setTimeout(updateCart, delay, qty, id);
        });

        $("[data-delete]").click(function () {
            id = $(this).data("delete");
            tr = $(this).parent().parent();

            $("[data-delete]").animate({ opacity: 0.5 }, 500);

            if (!lock) {
                lock = 1;
                user_id = 1;
                $.ajax({
                    url: "/carts/" + user_id + "/" + id,
                    type: "DELETE",
                    beforeSend: function (result) {
                        tr.hide();
                    },
                    success: function (result) {
                        tr.remove();
                        if (!$(".cart-table tbody tr").length) {
                            location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                        tr.show();
                        console.error(xhr, status, error);
                    },
                    complete: function (xhr, status) {
                        lock = 0;
                        $("[data-delete]").animate({ opacity: 1 }, 500);
                    },
                });
            }
        });
    });
</script>

{{template "layouts/base.end" .}} {{end}}
